section.spotlight
    inner
        img(src='/images/sp-2.jpg')
        div
            h2
                | Find the best
                br
                span doctors online
            form.search
                input(type='text' placeholder='Search Dentist' id='search')
                button.submit Search

section.health
    inner
        h2
            | Your
            span  health
            |  is our first priority
        p
            | Services for medical, non-medical and other needs by
            br
            | trained and verified healthcare professional

        container
            box
                img(src='/images/health-support.jpg')
                div
                    cover1
                    cover2
                    h3 Free Support
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
            box
                div
                    cover1
                    cover2
                    h3 24/7 Service
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                img(src='/images/health-service.jpg')
            box
                img(src='/images/health-online.jpg')
                div
                    cover1
                    cover2
                    h3 Free Booking
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
            box
                div
                    cover1
                    cover2
                    h3 Private & Secure
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                img(src='/images/health-secure.jpg')

section.health.reviews
    inner
        h2
            | What our users says about us
        p
            | Very helpful. Far easier than doing same things on computer.
            br
            | Allows quick and easy search with speedy booking.
            br
            | Even maintains history of doctors visited.

footer
    inner
        a(class='brand' href='/')
            i healing
            | Medbro
        p Copyright © 2017, Practo. All rights reserved.
