section.auth.login
    inner
        form
            h1 Welcome Back
            h2 Please enter details to continue
            input(type='email' id='email' placeholder='Email')
            input(type='password' id='password' placeholder='Password')
            button(type='submit') LOGIN
            p
                | Forgot Password?
                a(href='/reset-password')  Reset