section.auth
    inner
        form(action='/verify-email')
            h1 Reset Password
            h2 Please enter the details to continue
            input(type='email' placeholder='Your Email')
            input(type='password' placeholder='New Password')
            button(type='submit') CONTINUE
            p
                | Go back to
                a(href='/login')  Login