section.auth
    inner
        form
            h1 VERIFY EMAIL
            h2 Please check your email
            input(type='text' placeholder='Enter Code')
            button(type='submit') VERIFY
            p
                | Don't received code?
                a(href='/login')  Resend